<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppmint.com.seb_84" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.HERO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelUpActivity"
            android:label="@string/title_activity_level_up"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/title_activity_training"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".BTConnect"
            android:label="@string/title_activity_btconnect"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".BattleActivity"
            android:label="@string/title_activity_battle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ArmoryActivity"
            android:label="@string/title_activity_armory"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
